<% groupAcpHelper = (id, acp) => {
    let link = `/admin/groups/${id}/changeAcp/${acp}`;
    let icon = (acp === "yes")?"checkbox-outline":"stop-outline";
    return `<a href="${link}"><ion-icon name=${icon} size="large" ></ion-icon></a>`;
} %>

